main {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Creepster', sans-serif;
    flex-direction: column;
    
    
}

.calculations {
    border: 1px solid black;
    padding: 20px;
    background-color: orange;
    margin-bottom: 25px;
    box-sizing: border-box;
}

h2 {
    font-family: 'Creepster', sans-serif;
    
}
div {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Creepster', sans-serif;
}
body {
    background-image: url('../assets/spooky.jpg');
}
h1 {
    color: orange;
    font-family: 'Creepster', sans-serif;
    text-align: center;
}